[2015-12-11 09:30] dreispt opened #2 "Review Labels missing"
@oca GitHub reviews labels, such as "Needs Review" are missing.

[2015-12-11 13:49] yvaucher commented on #2
Someone needs to play https://github.com/OCA/maintainer-tools/blob/master/tools/set_repo_labels.py

[2015-12-11 13:50] yvaucher commented on #2
But first we might want to remove the labels
  '7.0': '000000',
  '8.0': '000000',

Using milestones instead ?

[2015-12-11 14:13] dreispt commented on #2
I see some maintainers use labels and others use milestones.
I personally think milestones work better, and use them on the project' where I'm an active maintainer.
But at the moment no single truth here.

[2015-12-11 16:41] yvaucher commented on #2
@dreispt thus removing them from the list could let the choice.

[2015-12-13 22:08] pedrobaeza commented on #2
Added without 7.0 and 8.0 labels

[2015-12-13 22:08] #2 closed, assigned to nobody

[2015-12-14 08:51] dreispt commented on #2
Thanks Pedro.

[2016-08-10 07:37] JordiBForgeFlow opened #15 "Migration to v9"
This issue summarizes the development of the migration to v9.

Priorities:
P1 - Urgent
P2 - Not urgent

[x] operating_unit
[ ] procurement_operating_unit (P1)
[ ] purchase_operating_unit (P1)
[ ] account_operating_unit (P1)
[ ] account_voucher_operating_unit (P1)
[ ] stock_operating_unit (P1)
[ ] stock_account_operating_unit (P1)
[ ] sale_operating_unit (P1)
[ ] sale_stock_operating_unit (P1)
[ ]

[2016-08-10 07:38] JordiBForgeFlow opened #16 "Migration to v9 - Sprint P1"
This issue summarizes the development of the migration to v9 of priority 1 modules.
-  [x] operating_unit
-  [x] procurement_operating_unit - https://github.com/Eficent/operating-unit/tree/9.0-procurement_operating_unit. Pending PR to OCA.
-  [x] purchase_operating_unit - WIP https://github.com/Eficent/operating-unit/tree/9.0-purchase_operating_unit. Pending PR to OCA.
-  [x] account_operating_uni

[2016-08-10 08:00] #15 closed, assigned to nobody

[2016-08-10 08:51] dreispt commented on #16
Maybe it's clearer if you organize in two lists.
Would you like to try using milestones - from what I've see that can work very well.
I suggest "9.0-sprint-P1" and "9.0-sprint-P2"

[2016-08-10 08:57] JordiBForgeFlow opened #17 "Migration to v9 - Sprint P2"
-  [ ] purchase_requisition_operating_unit (P2) - Branch in v8: https://github.com/Eficent/operating-unit/tree/8.0-purchase_requisition_operating_unit. Assigned to @darshan-serpent
-  [ ] mis_builder_operating_unit (P2) - WIP https://github.com/Eficent/operating-unit/tree/9.0-mis_builder_operating_unit. Assigned to @darshan-serpent => PR https://github.com/OCA/operating-unit/pull/38
-  [ ] mrp_ope

[2016-08-10 08:59] JordiBForgeFlow commented on #16
Thanks @dreispt

[2016-10-06 14:04] pedrobaeza opened #36 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [x] account_operating_unit
- [x] crm_operating_unit
- [x] operating_unit
- [x] mis_builder_operating_unit #67
- [x] stock_operating_unit  #51
- [x] sales_team_operating_unit #47
- [x] account_voucher_operating_unit  #46

[2016-11-02 13:48] AaronHForgeFlow commented on #16
**account_operating_unit** merged :clap:
 **crm_operating_unit** merged :clap:
 **account_voucher_operating_unit** merged :clap:
**procurement_operating_unit**: https://github.com/OCA/operating-unit/pull/29 merged :clap:
**purchase_operating_unit**: https://github.com/OCA/operating-unit/pull/28 (Needs review)
**stock_operating_unit**: https://github.com/OCA/operating-unit/pull/31 merged :clap:
**s

[2016-11-02 14:04] AaronHForgeFlow commented on #17
Migration Status at 11/02/2016:

**purchase_requisition_operating_unit**: https://github.com/OCA/operating-unit/pull/34 (Depends on purchase_operating_unit)
**mis_builder_operating_unit**: https://github.com/OCA/operating-unit/pull/38 (Depends on mis_builder)
**mrp_operating_unit**: https://github.com/OCA/operating-unit/pull/39 (Depends on procurement_operating_unit)
**purchase_request_operating_u

[2017-01-27 08:44] LoisRForgeFlow commented on #36
<code>account_operating_unit</code> done. https://github.com/OCA/operating-unit/pull/45

[2017-01-27 12:17] LoisRForgeFlow commented on #36
<code>account_operating_unit</code> done. https://github.com/OCA/operating-unit/pull/50

[2017-01-30 10:52] LoisRForgeFlow commented on #36
<code>account_voucher_operating_unit</code> added and migrated. https://github.com/OCA/operating-unit/pull/46

[2017-01-30 10:57] LoisRForgeFlow commented on #36
<code>sales_team_operating_unit</code> added and migrated. https://github.com/OCA/operating-unit/pull/47

[2017-01-31 10:34] LoisRForgeFlow commented on #36
<code>stock_operating_unit</code> merged https://github.com/OCA/operating-unit/pull/51

[2017-03-15 15:01] repodevs opened #65 "[10.0] stock_operating_unit raise error when create receipts directly"
Create receipts (stock picking) directly (not from PO) will show error

Open Inventory Dashboard then create new transfer from receipts

![inventory odoo](https://cloud.githubusercontent.com/assets/13567128/23954644/70578136-09ca-11e7-96c0-c7d392d89ef1.png)

Will show error
![inventory_new _odoo](https://cloud.githubusercontent.com/assets/13567128/23954696/947baa2e-09ca-11e7-9777-93956e38c590.png)

[2017-05-11 08:38] storm-dbojkic commented on #36
All translation files are issing? can someone add them so it can be translated on transifex?

[2017-06-13 12:56] ccandito opened #74 "stock operating unit does not work for consume movement created directly"
Dear All,
I've tried to create a manual consume stock movement; by evaluating the picking type a short dump occurred (the related log is reported below). I've noticed also this doesn't occur by removing the app stock operating unit.
thanks in advance
claudio candito
Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 638, in _handle_exception
    return

[2017-06-14 07:57] AaronHForgeFlow commented on #74
Hi @ccandito That is fixed already (https://github.com/OCA/operating-unit/issues/65). You just need to pull the latest code.

[2017-06-14 08:28] ccandito commented on #65
DEar All,
I've implemented the last code of stock operating unit, but the error has occurred again.
the system log:
Regards
claudio candito

Traceback (most recent call last):
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 638, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/usr/lib/python2.7/dist-packages/odoo/http.py", line 675, in dis

[2017-06-19 06:20] serpentcs-dev1 opened #75 "[9.0] [stock_operating_unit] not able to set Requesting Operating Unit"
@aheficent Hello Aaron!! Request Operating Unit in the stock picking does not seems to work, the OU is initially set on the picking_type onchange but when you then try to save the picking it disappears. Is this behavior normal?

Below I have attached two screenshots before and after saving the record.

![before_save](https://user-images.githubusercontent.com/20109026/27271757-257ee554-54e4-11e7-87

[2017-06-19 07:27] AaronHForgeFlow commented on #75
hmmm it seems that we need to backport the fix from branch 10.0 https://github.com/OCA/operating-unit/pull/66

[2017-06-19 08:40] AaronHForgeFlow commented on #75
I was wrong, the problem is different. It was related with onchange methods won't work for readonly fields. I proposed a solution here: https://github.com/OCA/operating-unit/pull/76

If this is ok I'll do the same for v10

[2017-06-20 05:15] serpentcs-dev1 commented on #75
Yes, it was regarding the onchange on the readonly field.

The issue is resolved in #76

[2017-06-20 05:15] #75 closed, assigned to nobody

[2017-07-02 13:11] sbidoul opened #77 "[10.0] operating unit field on invoice should be readonly in non draft states"
How to reproducte:
- create an invoice with operating unit
- validate the invoice
- the operating unit field is still modifiable

Expected behaviour:
- the operating unit should not be modifiable on a validated invoice

The same rule as other invoice fields must apply

[2017-07-03 12:11] AaronHForgeFlow commented on #77
I agree @sbidoul we will fix this

[2017-09-29 15:24] aitlamsali opened #93 "Error When i Try to Create New Quotation"
Hi;

When i attach a user to his own UO and i connect with hiw account to make a quotation i got this error :

Odoo Warning - Access Error
The requested operation cannot be completed due to security restrictions. Please contact your system administrator.

(Document type: crm.team, Operation: read)

[2017-10-03 14:50] pedrobaeza opened #94 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [x] account_operating_unit - By @grindtildeath - #140
- [ ] account_voucher_operating_unit
- [x] analytic_operating_unit - By @gdgellatly - #101
- [ ] crm_operating_unit
- [x] operating_unit - By @gdgellatly - #99
- [ ] procurement_operating_unit
- [ ] purchase_operating_unit
- [x] sale_operatin

[2017-10-07 14:20] aitlamsali commented on #93
Hi;

When i attach a user to his own UO and i connect with hiw account to make a quotation i got this error :

Odoo Warning - Access Error
The requested operation cannot be completed due to security restrictions. Please contact your system administrator.

(Document type: crm.team, Operation: read)

[2017-10-07 14:44] aitlamsali commented on #93
Hello could you help me please ?

[2017-10-17 14:53] repodevs commented on #65
Fixed on #66

[2017-10-17 14:53] #65 closed, assigned to nobody

[2017-11-02 22:38] gdgellatly commented on #94
Hi @pedrobaeza @jbeficent are you happy for me to migrate this whole repo and commit to review (or at least helping me find a reviewer)?  I don't really use it, but I think I'd like to, so would be a straight port unless you have specific comments.  Also any other warnings based on current open PR's and issues.

Obviously 1 PR per module, all done by Nov 30 maybe all done next week.

I've had a qu

[2017-11-03 04:29] gdgellatly opened #102 "Migration Question - account_operating_unit"
@jbeficent In account_operating_unit there is a section of code around line 106 of account_move.py that does not seem to match the comment

[code]
To my mind this statement is wrong in 2 ways.

1. If there was more than one line with the same ou, it would fail the test despite all pointing to the same ou.
2. If one line doesn't have an ou (is this possible?) and one does, it would pass the test de

[2017-11-03 07:52] pedrobaeza commented on #94
Thanks for the initiative, Graeme. Of course it's very welcome. The coordinator of this repository is @elicoidal .

[2017-11-03 07:52] pedrobaeza commented on #94
Ah, no sorry, my fault. It's @jbeficent indeed.

[2017-11-03 08:08] elicoidal commented on #94
:)

[2017-11-03 08:12] AaronHForgeFlow commented on #94
Hi @gdgellatly, you are very welcome to collaborate to this repo. We will review your PRs and we will try to get more reviewers. Besides It'd be very nice if you review some of the opened PRs in v10 :relaxed:

[2017-11-03 08:40] gdgellatly commented on #94
@aheficent Of course I will review.  There seems some ready to merge, others under discussion.  Nothing really left out in the cold needing review.  But anything pinged at me I will always review, or just label them as needs review and I'll check back as I get through things.

[2017-11-03 08:45] AaronHForgeFlow commented on #94
@gdgellatly Thank you. I will label the PRs that are ready to review.

[2017-11-04 20:06] ccandito opened #103 "Error in creating purchase order"
Dear All,
When conforming a quotation for creating a purchase order a following error has occurred:
Error while validating constraint
Configuration error
The Stock moves must be related to a location (source or destination) that belongs to the requesting Operating Unit.

this sounds strange because for the time being only the default main OU has been set and the input location has been assigned to

[2017-11-10 10:27] gdgellatly commented on #94
@aheficent  OK I have migrated everything, I'll just make PR's as they merge as they are all stacked, so when there are changes I'll need to update everything above.  It's all at https://github.com/gdgellatly/operating-unit - I did sale_stock_operating_unit last.

After some testing, the repo doesn't quite meet my use case, so I'll probably start something a bit more radical on my own, but I like

[2017-11-10 10:40] JordiBForgeFlow commented on #94
@gdgellatly Perhaps the restriction that warehouses and locations should be owned by an operating unit should be relaxed, so that only in the case where you expect a separate balance sheet per operating unit should this restriction be put in place.

[2017-11-10 10:41] JordiBForgeFlow commented on #94
@gdgellatly In general the issue is that as soon as you use real time inventory accounting, every time you ship a product from a warehouse it is going to hit a COGS account. So how can you decide what operating unit should be attributed for that cost?

[2017-11-10 10:45] AaronHForgeFlow commented on #94
@gdgellatly thank you for your work, I'll review when creating the PR's to OCA

[2017-11-10 11:11] gdgellatly commented on #94
@jbeficent Indeed those are questions I need to answer, I didn't say it was easy.  But if I take a logical look at it, even in a self balancing environment I think it can be done.

The COGS case is simple under AngloSaxon as it is accrued at time of sale, and as such easy to apply.

But there is a more general case, beyond stock for difficult to apply items, e.g. Finance and Intangible type items.

[2017-11-10 11:24] JordiBForgeFlow commented on #94
@gdgellatly For trademark, etc. you can have a "corporate" OU.

[2017-11-12 07:54] gdgellatly opened #104 "Operating Unit Warehousing Discussion"
Continuation from sidetrack at #94

@jbeficent I've spent a good chunk of the weekend reviewing current practice, rewriting code and matching it to the requirements under IFRS 8 for segment reporting.  IFRS 8 is quite nice in that it focuses on the internal information used by management, so in that sense we can make operating_unit IFRS compliant (although then I would use the term operating_segme

[2017-11-12 08:05] gdgellatly commented on #104
btw those journals are just one approach, the could just as easily be

On delivery

| Account | DR | CR | Segment |
|------------|-------:|-------:|-----------|
| Inventory | | 100 | S1 |
| Xfer Margin (P & L account) | | 10 | S1 |
| Inter OU Debtors (or balancing) | 110 | | S1 |
| Stock Output | 110 | | S2 |
| Inter OU Debtors (or balancing) | | 110 | S2 |

*To record delivery of goods with a cos

[2017-11-12 14:54] JordiBForgeFlow commented on #104
Graeme, when I designed the Operating Units I researched a lot on Segment
Reporting and IFRS8, and took it into consideration. I believe that using
the self balancing operating units the system is compliant with IFRS8.

In fact, I found that it is as advanced as SAP's (the big one) segment
reporting approach.

I agree aspect of generating revenues. Now an OU can generate profit only
if it sells to

[2017-11-13 05:47] AaronHForgeFlow commented on #103
Dear @ccandito,

I tried to reproduce the issue but it's working fine to me. Can you check if the default location for the picking type is assigned to to the requesting operating unit?

Regards

[2017-11-13 16:56] AaronHForgeFlow commented on #102
@gdgellatly

IMO  the comment there is correct. However I'm not sure if the code would fail. At least in case all the lines have the same OU it will skip creating  the balancing move line.

[2017-11-13 17:04] AaronHForgeFlow commented on #93
Hi @aitlamsali Thank you for your report. Which Odoo version are you using. It seems to me that user should belong to group `Sales / User: Own Documents Only` Does the user belong to that group or Sales Manager group?

[2017-11-13 17:05] AaronHForgeFlow commented on #77
Closing this as PR is merged

[2017-11-13 17:05] #77 closed, assigned to nobody

[2017-11-13 20:16] gdgellatly commented on #104
Hi Jordi,

Just an FYI I'm mocking up a final version of the above, and trying to keep it all compatible, but in doing so have found that the entire Odoo 11 stock valuation is essentially broken, so awaiting on bug fixes as how they fix it will change the code a lot.

[2017-11-13 22:06] JordiBForgeFlow commented on #104
Yes, stock valuation.. OMG.... Ask them howndo you revaluate inventory?...
I am so scared about this change...

On Nov 13, 2017 9:16 PM, "Graeme Gellatly" <notifications@github.com> wrote:

[2017-11-13 22:11] gdgellatly commented on #104
Jordi,

Check this bug report, they are fixing a lot of valuation things right now so its a good chance to get those requests in, but oh my reading some of the changes there have been some big oversights.

https://github.com/odoo/odoo/issues/20892

[2017-11-13 22:21] gdgellatly commented on #102
@aheficent I agree but better to have the code match the comment, besides, there is still a performance impact on a large move.  I changed the code anyway to match in the port, but as I've gone further, I've noticed a few mistakes that I made, so as we merge through I'll be making some small changes to the PR's before submission.

[2017-11-13 23:08] gdgellatly commented on #104
@jbeficent Below is the document I sent into senior management with the final approach that got signed off.  As you can see, it is possible to do, without the warehouse restrictions and this is the way I am going.  In essence we have 2 self balancing accounts rather than one.  One is on the P&L, the other is a Payable in current liabilities (I chose payable because otherwise if a KPI was on ROA or

[2017-11-20 10:39] #102 closed, assigned to nobody

[2017-11-22 11:40] JordiBForgeFlow commented on #104
@gdgellatly it is great! I played a bit with this concept in v7, but finally did not pursue the topic futher.

[2017-11-23 09:53] gdgellatly commented on #104
@jbeficent I have a working alpha implementation.  It is very basic and has some mocked out methods but it works for the sale from one ou, with shipping from another.  https://github.com/gdgellatly/operating-unit/tree/operating_unit-ng . I was going to change name to avoid conflict, but realistically no one but me uses my repos anyway, and I don't put at apps so just reverted those changes.

[2017-11-27 10:04] gdgellatly opened #106 "Operating Unit Domain Security"
I was looking at security in relation to #104 and I think I have found a major mistake in the way this has been constructed.

If you take any record rule file you will notice an entry not unlike

[code]

Now ir.rule is kind of the opposite of assigning permissions.  In other words, perm_read = 1 translates as - when a user tries to read an invoice, disallow it.  So in this case you are effectively

[2017-11-27 12:49] JordiBForgeFlow commented on #106
@gdgellatly Perhaps you're right. Perhaps the rule should apply to all: read, write, unlink, create.

[2017-12-11 16:21] vkk-steigend opened #107 "[Feature Request] Sale price and cost price per operating unit?"
Can we have a feature for capturing sale / cost price at operating unit level. Or in general can we have an operating unit dependent field similar to company dependent field?

[2017-12-15 11:34] Michael-LWT opened #108 "Install Issues"
Hi,
Error keeps croping up while installing Accounting with Operating Units;

"
Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/http.py", line 640, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "/odoo/odoo-server/odoo/http.py", line 677, in dispatch
    result = self._call_function(**self.params)
  File "/odoo/odoo-server/odoo/http.p

[2017-12-15 13:49] vkk-steigend opened #109 "[10.0] Inventory Adjustment does not consider Operating Unit"
While performing an inventory adjustment, operating unit is not set properly in journal entries. User's default operating unit is being used as OU in journal entry. Can be resolved by taking the OU if present in Stock Location.

[2017-12-19 09:56] vkk-steigend commented on #108
I was not able to find any field named "bank_reference" in either TMS or OU. So you might be using some other modules which is causing the issue. I have installed almost all modules in operating-unit without any issues. Not tried TMS. Please try on a fresh database without any custom addons and try to replicate the issue and give a feedback.

[2018-01-02 08:59] #108 closed, assigned to nobody

[2018-01-04 16:16] ccandito commented on #103
thanks
now it is working out]
regards
claudio candito

[2018-01-04 16:16] #103 closed, assigned to nobody

[2018-02-18 21:22] edser-pcg commented on #94
Hello, is there any time estimate for when these PRs will be merged?

[2018-02-18 21:50] JordiBForgeFlow commented on #94
No estimate. People migrate them to v11 as they need them.

[2018-02-18 22:00] edser-pcg commented on #94
Yes but @gdgellatly made a bunch of PRs and states the work is done but awaiting for revision. Need testers? We can do the testing if required

[2018-02-18 22:06] JordiBForgeFlow commented on #94
@edsersolis Testing would indeed help a lot to get them merged. Please ping me on each PR as you have reviewed.

[2018-02-18 22:12] gdgellatly commented on #94
@edsersolis @jbeficent realistically once #99 is merged, and it is mergeable now (all reviews done etc) I can clean up the rest, but no point testing the others yet as we ended up having to change quite a bit.

[2018-02-26 17:03] w-mohsen commented on #93
Hi @aheficent I have the same issue in Odoo 10 and I got the same error when the user belong to Sales / User: Own Documents Only group and when I change it to User: All Documents group, I was able to create quotation / Sale orders.

 Please advise.

[2018-02-26 17:27] w-mohsen opened #111 "New Sales Quotation without OU"
Dear All,

I have installed OU in Odoo 10 and I have created a user and granted him access to Sales User:All Documents group and assigned one OU to him  then I created a Quotation and I didn't see any  OU field in quotation and after creation,I checked the quotation from Admin account, I was able to see the OU field in the form and tree view but it was empty.
I think the OU field should be visible

[2018-03-16 10:58] JordiBForgeFlow commented on #94
@gdgellatly #99 is now merged. Feel free to propose other PR's. Thank you for the great contribution!

[2018-03-16 15:55] pedrobaeza commented on #94
@jbeficent the remember to check the mark on the main comment :wink:

[2018-03-19 13:34] marnicodigital commented on #94
Hi all. We are new here. We found this modules and could need them in a project. Is there any roadmap on migration to v11?. Regards.

[2018-03-19 21:08] gdgellatly commented on #94
@jbeficent #100 has been ready for a few weeks.  I've been without reliable internet the last few weeks so will catch up on the rest later.

@marnicodigital its a volunteer community.  No one tells anyone to or stops anyone from migrating or reviewing proposals.  So there is no roadmap.  It is as/when people commit their time and a lot of us are involved in many OCA projects at once.  Because the

[2018-05-15 14:04] AaronHForgeFlow commented on #111
Hi @w-mohsen
The operating unit in the SO will be the operating unit of the team not the one of the user, please set the OU in the sale team:
![image](https://user-images.githubusercontent.com/19620251/40061628-acd4cdf6-5859-11e8-8c56-e43fa4f7590f.png)

[2018-05-15 15:31] AaronHForgeFlow commented on #109
Hi @vkk-steigend

The journal entries are supposed to use the operating unit in the stock move. There are two operating unit fields in the stock moves, one for the source location and one for the destination location. The operating unit in the stock_move is related to the location so it should take the same as the location's operating  unit. I was unable to recreate your issue, is it still happeni

[2018-05-15 16:34] MohsenWaleed commented on #111
Many thanks @aheficent.

[2018-05-16 08:41] AaronHForgeFlow commented on #93
@aitlamsali  @w-mohsen Thank you for reporting this issue. Can you check this PR https://github.com/OCA/operating-unit/pull/116? Thanks

[2018-05-16 11:53] sbidoul opened #118 "Operating unit on account journals"
Why is the operating unit on account journal visible only on bank and cash journals?

https://github.com/OCA/operating-unit/blob/cbcc0a597c507efe3e94322d9f3016334770a3d7/account_operating_unit/views/account_journal_view.xml#L10-L13

Would there be any drawbacks to show it on all journals?

[2018-05-16 11:56] JordiBForgeFlow commented on #118
Except for payments, the operating unit is generally derived from other sources. Manually in journal entries,  from the invoice, etc. But for payments, the payment method is the journal, and that's where the user decides what OU pays for an invoice.

For bank and cash, you could pay an invoice from OU A, with a payment method (Journal) from OU B. That will create additional self-balancing journal

[2018-05-16 12:04] sbidoul commented on #118
That clarifies that constraint, thanks.

https://github.com/OCA/operating-unit/blob/cbcc0a597c507efe3e94322d9f3016334770a3d7/account_operating_unit/models/account_journal.py#L22-L28

I've a scenario where I would like each OU to have it's own sales journal. So I'm wondering if there would be any downside to setting an OU on sale/purchase/other journals too.

[2018-05-16 12:08] JordiBForgeFlow commented on #118
Yes, I agree. We could leave the operating_unit_id as an optional field. And use a constraint that makes it required for bank/cash journals. Then we would need to review if we need additional security rules.

[2018-05-16 12:13] sbidoul commented on #118
It looks that the record rule is there:

https://github.com/OCA/operating-unit/blob/cbcc0a597c507efe3e94322d9f3016334770a3d7/account_operating_unit/security/account_security.xml#L4-L14

[2018-07-04 07:17] meigallodixital commented on #94
We have installed the base module, checked the Multi Operating Unit checkbox in the user's permissions, but it gives us a read permission error. We can create records without problem. We do not even see the operational unit created by default in the installation (OU1). The core is OCB.

We are trying to simulate independent physical stores with this addon, I do not know if apart from the above we

[2018-07-04 10:17] AaronHForgeFlow commented on #94
@meigallodixital Can you provide more info? Where do you get the error in the Operating unit records? Maybe in the Sales team? Have you assigned the problematic user to the operating units in the user form view?

[2018-07-04 10:45] meigallodixital commented on #94
@aheficent At Settings -> User & Companies -> Operating Units

We have only installed: [operating_unit](https://github.com/OCA/operating-unit/tree/11.0/operating_unit)

I attach screenshot: https://snag.gy/zFVfgi.jpg

[2018-07-04 11:03] AaronHForgeFlow opened #129 "[11.0]Access error on when creating OU for a non admin user"
Following up this comment: https://github.com/OCA/operating-unit/issues/94#issuecomment-402386784

I was able to reproduce it on runbot: http://3323845-11-0-eca13e.runbot2.odoo-community.org/web?debug=#menu_id=75&action=86&active_id=channel_inbox

The problem is when the non-admin user creates a OU it is not assigned to the OU recently created so the access error appears. Not sure how to solve thi

[2018-07-04 11:04] AaronHForgeFlow commented on #94
@meigallodixital Please follow up this issue I created for this: https://github.com/OCA/operating-unit/issues/129 This issue is for sharing the status of the migration only

[2018-07-04 11:09] gdgellatly commented on #129
Yh I notice it in testing as well.  My solution was `Create as admin user`.  The issue of assigning the user creating it, is often they won't want access to the unit itself.  You don't setup an OU, go back 3 days later as another user setup the next one etc, you typically do them all at once.  I see it as similar to assigning ACL's.

The other alternative is an OU Manager security group with creat

[2018-07-04 11:13] AaronHForgeFlow commented on #129
@gdgellatly Yes, I agree. Normally, OU are created only once and they are never modified so using the admin user is probably the best solution here. I'll leave this issue opened for a while just in case.

[2018-07-04 11:24] meigallodixital commented on #129
As I say in the other thread, the intention here is to simulate physical stores with operational units. So, for us, it would be correct to manage it only as admin. No new stores are created every day: P

My question here, when we talk about admin we talk about the user 'root' not the users within the admin group, right?

Here if we already see a certain problem. That user we have thought not to be

[2018-07-04 11:35] AaronHForgeFlow commented on #129
Yes, admin user it's kinda root user.

As @gdgellatly  said, the only alternative is an OU Manager security group with create rights. But that may cause some security issues. Right now the only solution is to log with the admin user here.

[2018-07-04 11:42] meigallodixital commented on #129
So, I think the permissions and checkbox in the preferences should be removed from the module, right?

[2018-07-04 11:56] AaronHForgeFlow commented on #129
I don't think so. In that case It's not possible to assign a users to multiple operating units.

[2018-07-04 12:00] meigallodixital commented on #129
Right, I forgot :)

But I think that the view of creation should only be accessed by 'root', to avoid confusion.

[2018-07-04 15:34] meigallodixital opened #130 "[11.0] account_operating_unit: External ID not found in the system: account.view_move_line_form2"
Trying to migrate **account_operating_unit** from 10.0 it seems that view_move_line_form2 does not exist, view_move_line_form yes:
[code]
Could be removed in 11.0?

[2018-07-04 16:04] AaronHForgeFlow commented on #130
Do you mean to migrate the code? Yes in that case the view have changed quite a lot. Anyway there's  a PR for account_operating_unit here: https://github.com/OCA/operating-unit/pull/114 It only needs review

[2018-07-04 17:35] meigallodixital commented on #130
I check it, thanks :)

[2018-07-06 07:17] meigallodixital commented on #130
I close the issue because it is full covered by #114

[2018-07-06 07:17] #130 closed, assigned to nobody

[2018-07-09 08:05] meigallodixital opened #131 "[11.0] stock_operating_unit: Permission denied at the locations created before the module installation"
I'm trying to migrate this module. Apparently the migration is direct from 10.0 with few changes.

Is it necessary for all locations to have an operational unit? It seems that if they do not have any unit configured gives read permission error.

`(Document type: stock.picking.type, Operation: read) `

The locations without operating unit should not be seen by the whole company? If not, how would t

[2018-07-09 09:32] AaronHForgeFlow commented on #131
The locations are seen for all stock users when they are not assign to any operating unit. But to configure them well it's better to assign them to an operating unit.

Can you propose a PR so we can test? Will can put the WIP tag if you want. Thanks.

[2018-07-09 14:16] meigallodixital commented on #131
I think there is something broken with permissions (probably my fault: \), because all users see the same thing. For example, a standard user with the assigned ou1 sees the locations of ou2 and ou3, but not the location without an operating unit. Same behavior as a user permissions in the three ou's.

I review the migration steps to 11.0 and upload a PR to see if anyone sees that I am doing wrong

[2018-07-09 14:27] AaronHForgeFlow commented on #131
That behavior is wrong. Not sure if there's a bug in the code or it is a configuration mistake.
 It's great to see  new collaborators in this repo :grinning:

[2018-07-09 14:28] meigallodixital commented on #131
I correct myself. Only the warehouse created in installation fails. The new stores with blank OU appear for all, is what has confused me (had reinstalled and they lost the ou ...). It is only the one that is created in installation.

Could it be that this was created by the 'root' account?

[2018-07-09 14:43] meigallodixital commented on #131
Pull request done. I hope I have done well without breaking anything ;)

The compilation on PR  fails because the account_operating_unit from #114  is not merged :( You must install it.

[2018-07-12 15:07] meigallodixital opened #134 "[11.0] procurement_operating_unit - Depends on the procurement module that does not seem to exist in v11"
I am trying to migrate the **purchase_operating_unit** module. This module depends on **procurement_operating_unit**, an this depends on the **procurement** module, which no longer exists in v11, but is integrated into **inventory**. Is this correct?

If it no longer exists, would **procurement_operating_unit** be removed and the permissions integrated into **inventory**?

[2018-07-12 15:23] AaronHForgeFlow commented on #134
I have to take a deeper look into it, but I think procurement_groups still remain and there's some logic we have to analyze to check if it's consistence at OU level.

[2018-07-12 15:43] meigallodixital commented on #134
The **procurement_operating_unit** module 'only' gives permissions on **procurement.model_procurement_order** model.

Edit: Yes, it is removed on V11 -> https://www.odoo.com/es_ES/forum/ayuda-1/question/procurement-order-in-odoo11-135694

Edit 2: I do not know if there is a case of **procurement** without a **purchase**, but I understand that there may be **purchases** without **procurement** ...

[2018-07-12 15:58] AaronHForgeFlow commented on #134
Yes, it's removed as an entity, but procurement groups remain and the logic has to be consistent as OU level.

For testing purposes you can remove the dependency and try to migrate purchase_operating_unit.

[2018-07-12 16:12] meigallodixital commented on #134
I was just doing it, and it works well.

I understand that the separation of modules cames for reuse with another modules like MRP (we don't have manufacturing)

[2018-09-27 00:12] OCA-git-bot opened #139 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [ ] account_operating_unit - By @bjeficent - #149
- [x] analytic_operating_unit - By @sudhir-erpharbor - #146
- [ ] crm_operating_unit - By @ageficent - #160
- [x] hr_contract_operating_unit - By @ageficent - #161
- [ ] hr_expense_operating_unit - By @bjeficent - #184
- [x] operating_unit - By @

[2018-11-07 20:44] mnagy15 opened #143 "installing operating unit on odoo 11"

[2018-11-07 20:46] mnagy15 commented on #143
I am trying to install operating unit add on on odoo 11 but it gives errors
I need installation guide

[2018-11-12 09:43] meigallodixital commented on #143
What errors does the installation show you?

[2018-11-16 16:56] AaronHForgeFlow commented on #129
This will be solved soon :rocket:

[2018-11-19 13:43] mnagy15 commented on #143
i changed the custom_addons path and it doesn't show the error again but module don't work on 11

[2018-11-20 10:35] meigallodixital commented on #143
The base module only allows you to create operating units. I do not know what you expect or if the creation menu is not shown. You want to do?

[2018-11-20 10:55] AaronHForgeFlow commented on #129
It is not straightforward https://github.com/OCA/operating-unit/pull/144#discussion_r234954932

[2018-11-28 09:14] AaronHForgeFlow commented on #143
Please provide a clear way to reproduce the error on runbot so we can help you. Otherwise, the cause of the issue may be your implementation.

Regards.

[2018-11-29 08:08] #118 closed, assigned to nobody

[2018-12-25 05:19] elicoidal opened #155 "[RFC] OU in POS (12.0 ideally)"
Hi,
Is there any development/intention related for OU in POS? I could not find any in this repo but maybe some other repos might be looked into?

If not we might plan to use OU in one of our project and would need OU in POS. AFAICS, we would need to add the field/ACL in the following objects:
* pos.session
* pos.order

I am wondering about the payment methods and POS Product Categories.
Besides we

[2018-12-28 22:31] emagdalenaC2i commented on #139
sales_team_operating_unit - By @bjeficent - in #145 is closed and superseded by #147 that is merged

[2018-12-28 22:44] emagdalenaC2i commented on #94
@pedrobaeza please check in the list account_operating_unit - By @grindtildeath - #140

[2019-01-22 01:22] digitalliuzg opened #159 "Install DDMRP Error in creating purchase order"
Install DDMRP
Error while validating constraint
Configuration error
The Stock moves must be related to a location (source or destination) that belongs to the requesting Operating Unit.

[2019-02-27 00:38] mohamedhagag opened #181 "Default OU in Account move"
https://github.com/OCA/operating-unit/blob/36f4532123557f075383aaaa52848b8bffb2a632/account_operating_unit/models/account_move.py#L58

Should we auto set the OU on Account move from current user's OU same as what we have on the account invoice ?

For ex. in this case bank stmts will generate account moves with OU set on it instead of empty OU .

[2019-03-14 16:33] meigallodixital opened #185 "[12.0] Default OU in multicompany enviroment is the same always"
When you have several companies, the default organizational unit for a user is always the default of the first company created in all companies. I do not know if it is intentional but it seems a bug.

[2019-05-05 16:46] blaggacao opened #192 "Advise"
@jbeficent Looks like I'm gonna join this effort and drop https://github.com/odoo/odoo/pull/19839/files

I might do kind of a intense sprint during the next few days while ensuring existing features of my solution and hope I can give some serious amount of valuable input. Hope stars are aligned and things can be merged quickly...

I'll be working on v12. Please ping the people who should take not

[2019-05-05 16:50] JordiBForgeFlow commented on #192
you're welcome to join! We are already migrating to v12. Please start by reviewing all open PR's.

[2019-05-05 16:57] blaggacao commented on #192
There are some milestones in parallel, all in course. Are some outdated / abandoned? https://github.com/OCA/operating-unit/milestones

[2019-05-05 17:03] JordiBForgeFlow commented on #192
Yes. Focus on v12

El dom., 5 may. 2019 18:57, David Arnold <notifications@github.com>
escribió:

[2019-05-05 17:17] blaggacao commented on #192
@jbeficent Would it be ~feasible~ thinkable to inherit `BaseModel`, detect on init if field `company_id` is present and inject `operating_unit_id` (+ generic business logic) in such case? I think this would somewhat reduce the need for maintaining so many modules / dependencies. (Same for the views, maybe on `js` or `qweb`).

[code]

[code]
We would be left with this type of business logic:
( I se

[2019-05-05 17:24] blaggacao commented on #192
[code]

This type of business logic. Is it fool proof in the sense that when the user's operating unit is changed, this it not enforced. Am I missing something?

[2019-05-05 17:37] blaggacao commented on #192
For the individual business logic, I'm thinking of a possibility to inject them at module init tine through a  model switch case, this way transitioning logic could be transversally maintained in a single place (which is not only easier to maintain, but also gives a clearer picture of the neuralgic transitioning point).

[2019-05-05 17:50] JordiBForgeFlow commented on #192
We have done some generalizing work on multicompany constraints here: https://github.com/Eficent/multicompany-fixes potentially applicable also to operating units.

We have tried to generalize, but bumped into several problems.

But you're free to try and experiement. We are happy to test working proposals that include unit tests. That would be a quality feedback to the project.

Would also welcom

[2019-05-14 09:00] meigallodixital opened #196 "Question about flake8, lambda and 79 cols"
The lambda function of the default param in operating unit models exceds 79 columns (80 specifically). I see in the other modules that it is not corrected. Is it correct to omit that error?

[2019-05-21 11:15] Olageibol commented on #139
Is it planned to migrate the 'procurement_operating_unit' module? Or is deprecated?

[2019-05-21 11:34] bjeficent commented on #139
Hi @Olageibol , procurements are not longer available on v11 and v12, so the procurement_operating_unit is deprecated.

[2019-06-01 18:13] emagdalenaC2i commented on #139
@aheficent Please, check hr_contract_operating_unit - By @ageficent - #161 that is already merged

[2019-06-16 19:26] GlobalXSTech opened #197 "Automatic Accounting Entries not generating after operating-unit installation"
When we install this add on, odoo stops generating automatic accounting entries while purchase and sale of products, even when inventory valuation is selected to Automatic in product category in odoo 11.

[2019-07-29 05:15] younismahsud opened #198 "Account Operating Unit module missing in v12"
Do you have a plan to migrate account_operating_unit module to odoo v12?

[2019-07-29 08:26] pedrobaeza commented on #198
Nobody has migrated yet. This is a voluntary work.

[2019-07-29 08:26] #198 closed, assigned to nobody

[2019-07-29 09:08] AaronHForgeFlow commented on #198
@younismahsud There is a open Pull request here https://github.com/OCA/operating-unit/pull/149 and it is closed to be merged. More reviews are welcome.

[2019-09-29 21:43] OCA-git-bot opened #200 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate
- [ ] account_operating_unit - By @alan196 #229
- [x] analytic_operating_unit - By @alan196 https://github.com/OCA/operating-unit/pull/228
- [x] crm_operating_unit - By @alan196 - PR #250
- [ ] hr_contract_operating_unit
- [x] hr_expense_operating_unit  - By @alan196 - #251
- [x] mrp_operating_unit

[2019-10-24 15:35] AaronHForgeFlow commented on #197
what modules do you have installed? stock_account _operating_unit is not even in 11.0 so I am not sure this is an issue.

[2019-10-24 15:36] AaronHForgeFlow commented on #196
Sure

[2019-11-28 22:27] TheCloneMaster opened #212 "[v12] Multiple Operating Units per PO / SO / Invoice"
PO/SO/Invoice lines link the operating unit to parent document's OU.

If I prepare PRs to allow selecting OU at line level, would be accepted?
Default behavior would be preserved, as document's OU will be applied by default to every line, but user will be able to select a different one if needed...

Regards,
-Mario

[2019-12-17 22:23] max3903 opened #214 "[RFC] fieldservice_operating_unit"
Dependencies: operating_unit, fieldservice
License: AGPL

This module adds operating unit information to Field Service orders.

# Usage

* Go to Field Service
* You only see the FSM orders of your operating units
* Create an order. It is assigned to your default operating unit.

# Technical Specifications

## fsm.order

- [x] Add a many2one field "Operating Unit" (operating_unit_id) to operating.u

[2019-12-17 22:27] max3903 opened #215 "[RFC] project_operating_unit"
Dependencies: operating_unit, project
License: AGPL

This module adds operating unit information to projects and tasks.

# Usage

* Go to Project
* You only see the projects and tasks of your operating units
* Create a new project. It is assigned to your default operating unit.
* Create a task within a project. It inherits the operating unit of the project

# Technical Specifications

## project.p

[2019-12-17 22:29] max3903 commented on #139
@ursais would migrate `res_partner_operating_unit` to version 12.

[2019-12-17 22:39] max3903 opened #216 "[RFC] sale_multi_operating_unit"
Dependencies: sale_operating_unit, product_operating_unit, res_partner_operating_unit
License: AGPL-3

This module allows a user in an operating unit to request internal quote to another operating unit.

# Usage

* Go to Sales
* Create a quotation for one of your OU customer
* Enter lines using products from your OU catalog
* Go to the "Internal Quotes" tab and enter the list of products and quant

[2019-12-18 05:03] nikul-serpentcs commented on #139
Can you please migrate v11 also, Because `res_partner_operating_unit`  is [v10]( https://github.com/OCA/operating-unit/pull/98)

[2019-12-18 16:30] max3903 commented on #139
Sorry, I don't have the budget for this.

[2019-12-18 22:21] max3903 opened #217 "[RFC] agreement_operating_unit"
Dependencies: operating_unit, agreement_serviceprofile
License: AGPL

This module adds operating unit information to agreements and service profiles.

# Usage

* Go to Agreements
* You only see the agreements of your operating units
* Create an agreement. It is assigned to your default operating unit.

# Technical Specifications

## agreement

- [x] Add a many2one field "Operating Unit" (operating

[2019-12-23 07:26] Dangar-Serpentcs commented on #139
Hang on! I'm migrating **res_partner_operating_unit** module into v12 directly because **sale_multi_operating_unit** module depends on this module.

[2019-12-23 09:42] Dangar-Serpentcs commented on #139
res_partner_operating_unit #220

[2019-12-24 13:21] Dangar-Serpentcs commented on #216
**Improved**

![Selection_031](https://user-images.githubusercontent.com/38550879/71414728-3b3fe780-267e-11ea-9d74-c75f412ba5f1.png)

[2019-12-29 15:46] alan196 commented on #200
I make migration of operating_unit module in PR #223

[2020-01-09 10:38] BT-nstuder commented on #200
Hi. I've created a migration PR of `stock_operating_unit` #231.

[2020-01-09 10:54] BT-nstuder commented on #200
I've also created a migration of `purchase_operating_unit` in #232. This module is currently not mentioned in the section `Modules to migrate`.

[2020-01-15 14:17] #217 closed, assigned to max3903

[2020-01-15 14:17] #215 closed, assigned to max3903

[2020-01-15 14:18] #214 closed, assigned to max3903

[2020-01-15 18:34] osi-scampbell opened #237 "Warehouse Shared Between Multiple OU's"
Problem:
We have workflows that have multiple OU's sharing the same warehouse but currently that functionality is not supported in OCA/operating-unit

Solution:
Instead of converting operating_unit_id from Many2one to Many2many, we can make the option to allow all OU's to use a warehouse if the OU on the warehouse is not set. When we handle error checking, just add the criteria 'if warehouse_id.op

[2020-01-15 18:42] max3903 commented on #237
@JordiBForgeFlow @AaronHForgeFlow What do you think of this solution?

[2020-01-15 18:47] JordiBForgeFlow commented on #237
I think that it's a good idea! @AaronHForgeFlow can you check the referenced PR's!

Thanks guys for all the proposals! It's great to see you involved in OU's.

[2020-01-15 21:10] osi-scampbell commented on #237
@JordiBForgeFlow Thanks! We're happy to help, I'll request @AaronHForgeFlow as a reviewer on those PR's.

[2020-01-30 07:46] BT-nstuder commented on #200
I've migrated the module `mrp_operating_unit` in  #243. This module is currently not mentioned in the section `Modules to migrate`.

[2020-02-04 12:20] BT-jortells opened #244 "I make migration of operating_unit module in PR #223"
I make migration of operating_unit module in PR #223

_Originally posted by @alan196 in https://github.com/OCA/operating-unit/issues/200#issuecomment-569517010_

Issue reported on the Merged PR: https://github.com/OCA/operating-unit/pull/223#issuecomment-581877748

[2020-02-04 12:20] #244 closed, assigned to nobody

[2020-02-04 12:21] BT-jortells commented on #200
Issue reported on the Merged PR: #223 (comment)

[2020-02-04 15:20] jacobus101 commented on #155
Do you have any plans to develop in POS @MiquelRForgeFlow @AaronHForgeFlow @LoisRForgeFlow? thanks in advance!

[2020-02-10 21:04] alan196 commented on #200
This issue is solved with PR https://github.com/OCA/operating-unit/pull/246

[2020-02-11 18:33] osi-scampbell opened #248 "[v12] Product Template Get Default Category (Base Odoo)"
So when we pull up a product template, odoo calls the function _get_default_category_id(). In this method it checks to see if there is a category in the context, if not then it references the "All" Category that comes in the product module. Only if that is not found does Odoo search the remaining product categories.

Reference: https://github.com/odoo/odoo/blob/bf7d76a7127521ba17f29bc470c3d551cc99

[2020-02-12 21:44] alan196 commented on #200
I make the migration of crm_operating_unit in PR https://github.com/OCA/operating-unit/pull/250

[2020-02-12 22:03] alan196 commented on #200
I make the migration of hr_expense_operating_unit in PR https://github.com/OCA/operating-unit/pull/251

[2020-02-13 00:03] alan196 commented on #200
I make the migration of sale_operating_unit in PR https://github.com/OCA/operating-unit/pull/252

[2020-02-13 01:08] alan196 commented on #200
I make the migration of sale_stock_operating_unit in PR https://github.com/OCA/operating-unit/pull/253

[2020-02-13 13:55] AaronHForgeFlow commented on #200
Status updated

[2020-02-13 15:05] alan196 commented on #200
I make the migration of stock_account_operating_unit in PR https://github.com/OCA/operating-unit/pull/254

[2020-02-13 15:06] alan196 commented on #200
hr_expense_operating_unit is duplicated in the list of modules

[2020-02-13 18:57] alan196 commented on #200
I make the migration of report_qweb_operating_unit in PR https://github.com/OCA/operating-unit/pull/255

[2020-02-19 16:33] dkrimmer84 opened #256 "[12] stock_account_operating_unit BUG: Error on moving more than 1 product"
I would like to refer to the following line:
https://github.com/OCA/operating-unit/blob/12.0/stock_account_operating_unit/model/stock_move.py#L56

saying that:

Well, this is exactly not the case. The module throws an technical error as soon as you try to move more than 1 product (for instance in an internal transfer from one location to another)

**On runbot you can reproduce the error / bug:**
C

[2020-02-26 18:21] max3903 opened #258 "[12.0] Performance issue with res_partner_operating_unit"
After installing and configuring this module, the contacts list is pretty slow (~45 sec with 115 k records).

From Odoo's support comment below, a record rule on a many2many field is not good a idea:

Any idea or suggestion? I want to make sure we are not forgetting a good solution.

Thanks

[2020-02-26 18:24] max3903 commented on #258
CC: @moylop260

[2020-02-26 20:08] moylop260 commented on #258
If I understood fine the following line is the performance issue:
 - https://github.com/OCA/operating-unit/blob/040b17de8b1e88cb74d77a9478e8fddccb3d8547/res_partner_operating_unit/security/res_partner_security.xml#L10

I don't know what is the best solution in this moment.
Fast solution in my mind (without thinking too much), maybe, you like to try to make a field in `res.user` to get all valid pa

[2020-02-26 21:42] max3903 commented on #258
Thanks @moylop260 I think we'll try the other way around (storing the users on the partners) as we have 200+ users and 100+ k partners.

[2020-02-27 12:57] Vignesh000 opened #259 "Quote confirmation issues when i set the OU's warehouse in quote stage."
I have a configuration error in quotation confirmation. I set the Product in Make To Order and raise the quote and I set the OU warehouse in Quote, then I confirm the quote "Configuration error. The Quotation / Purchase Order and the Warehouse of picking type must belong to the same Operating Unit." this error will come. Anyone can know the solution please suggest.

[2020-03-03 09:44] #259 closed, assigned to nobody

[2020-03-09 21:48] max3903 commented on #258
Issue persists with both options.

Trying the following option:
* Remove the record rule
* Filter on the OUs in `name_search`

[2020-03-25 23:35] osi-scampbell opened #270 "[12.0] Default Operating Unit Res User Multi-Company"
We previously tried to make the default_operating_unit_id a company dependant field but upon further testing it was discovered that this feature created issues. For more details see the PR where we roll back this change here: #247. The requirement that we have not satisfied yet is for users who may belong to one OU in Company 1 and another in Company 2. Currently, the default_operating_unit_id sta

[2020-03-27 14:30] max3903 commented on #270
ping @AaronHForgeFlow

[2020-03-27 15:09] AaronHForgeFlow commented on #270
It is ok to me to add that feature as long we solve all the incompatibilities that comes up. Many PRs were red because of that and I don't like to break anything.

[2020-03-27 15:13] osi-scampbell commented on #270
@AaronHForgeFlow Ahhh I see, so maybe the solution is we open a [WIP] PR to see where the repo has its incompatabilites, then make PR's to change those modules affected?

[2020-03-27 15:33] AaronHForgeFlow commented on #270
Yes, agree with that. For some reason the PR that added this feature  was green, but then after the merge, some PRs were failing for unknown reasons. I remember a fix in module stock operating unit  that was causing an unrelated error in purchase_request_operating_unit, and the logs were not clear. Let's see now.

[2020-05-06 15:56] newtratip opened #284 "[13.0] account_operating_unit : The OU in the Move and in Journal must be the same."
I have create 1 user for default OU "Main Operating Unit"
![Selection_490](https://user-images.githubusercontent.com/24691983/81197730-d365ba00-8fea-11ea-8e54-f208a692799b.png)

and create journal customer invoice for OU "B2B" and customer invoices2 for OU "Main Operating Unit"
![Selection_491](https://user-images.githubusercontent.com/24691983/81198299-846c5480-8feb-11ea-863d-df4a0543ee94.png)

I

[2020-05-06 16:42] AaronHForgeFlow commented on #284
Hi @newtratip . Thank you for reporting this. Do you know if you rPR https://github.com/OCA/operating-unit/pull/283 solves this?

[2020-05-07 16:16] flotho commented on #155
Hi @elicoidal , @jacobus101 ,

Any work already started, I would like to implement this.

Regards

[2020-05-07 16:20] AaronHForgeFlow commented on #155
From my side there is no plan to work on that. Feel free to propose anything :)

[2020-05-10 17:16] jacobus101 commented on #155
We bought the BroseInfo one published in app store because we were running out of time for the project, but we found that the module doesn't apply OU to journal entries so we quickly addapted it. We want to publish it but is completely mixed what we develop with the module that we bought, so we are very far from the PR here.

[2020-05-12 13:20] AntoniRomera opened #285 "[13.0] New feature "DROPDOWN OU AS MULTI-COMPANIES""
I would like to propose adding the OUs as a dropdown as the multi-companies or within the multi-companies below the company associated with the OU.

This functionality had been thought?

Does anyone have that need or see it as useful?

[2020-05-12 14:10] AaronHForgeFlow commented on #285
This would be a nice improvement. It is not implemented because it is far from being an easy task. Any proposals will be welcome for sure.

[2020-05-18 16:12] AntoniRomera commented on #285
PR #288

[2020-05-21 11:35] andreampiovesana opened #289 "[12.0] stock_operating_unit dependent only on operating_unit"
i need this functionality only to manage warehouse restrictions, why there is in dependencies also account_operating_unit, why not use only operating_unit?

[2020-05-21 12:05] AaronHForgeFlow commented on #289
Could you confirm the module works without that dependency?That dependency was added in v7.0 (stick depends on account in that version). Probably is not needed anymore and should have been removed in the migration. But that needs to be tested first. If you create a PR I will review.

[2020-05-21 16:09] andreampiovesana commented on #289
it work!
thanks

Andrea Piovesana Linux Mint 19.3www.pnlug.it

Il giorno gio 21 mag 2020 alle ore 14:05 Aaron ForgeFlow <
notifications@github.com> ha scritto:

[2020-05-22 07:35] andreampiovesana commented on #289
i did the PR
https://github.com/OCA/operating-unit/pull/290

[2020-05-22 12:12] glitchov opened #291 "This line leads the test to an error but the module is well installed"
https://github.com/OCA/operating-unit/blob/69a2302f1343e9d76a90a068fbb69ab9a634e570/purchase_operating_unit/tests/test_purchase_operating_unit.py#L35

[2020-05-23 14:12] AntoniRomera opened #292 "Duplicate repo with brand"
Hello,

I would like to know if this module is very different from brand because in my opinion they do the same and it is duplicating.

[2020-05-25 06:39] AaronHForgeFlow commented on #292
Hi,

They are different things.

An Operating Unit (OU) is an organizational entity part of a company, but that operates as an independent unit. Organizationally, an Operating Unit divides a company from a Business/Divisional axis, while Departments divide a company from a functional axis perspective.

I am not use to brand repo but branding, by definition, is a marketing practice in which a compa

[2020-05-29 09:40] Dangar-Serpentcs commented on #200
product_operating_unit #297

[2020-07-01 11:51] newtratip commented on #284
Closed. This is fix https://github.com/OCA/operating-unit/pull/283.

[2020-07-01 11:51] #284 closed, assigned to nobody

[2020-07-01 12:13] newtratip commented on #200
account_check_deposit_operating_unit https://github.com/OCA/operating-unit/pull/278

[2020-08-02 20:16] ncaccia commented on #155
Hi @jacobus101 we discover the same problem, could you guide us on adapting the Broseinfo module?

Thanks for your time!

[2020-08-05 08:01] flotho commented on #155
Hi @ncaccia, did you tried my branch mentioned above.
It's working perfectly in production  with 6 different POS

[2020-08-05 12:14] ncaccia commented on #155
Hi, @flotho
I will try it from your repo --> https://github.com/flotho/operating-unit/tree/12.0-ADD-pos-operation-unit/pos_operating_unit

Thanks for your help!

[2020-08-06 12:05] Dangar-Serpentcs commented on #200
res_partner_operating_unit https://github.com/OCA/operating-unit/pull/308

[2020-08-06 23:33] ncaccia commented on #155
Hi @flotho, we are experiencing some troubles with the **team_id.operating_unit_id**, it seems that the team_id atribute is missing, but it is completed on the sales configuration. Do you how any idea how to solve this issue?

![image](https://user-images.githubusercontent.com/42478849/89592782-e5dad400-d823-11ea-91ae-bce732d8e774.png)

![image](https://user-images.githubusercontent.com/42478849/8

[2020-08-07 08:37] flotho commented on #155
strange, I have the field correctly defined : https://github.com/flotho/operating-unit/blob/12.0-ADD-pos-operation-unit/pos_operating_unit/models/pos_config.py#L19
maybe you don't have default operating unit defined on the user that is updating datas ?

[2020-08-16 08:20] nikul-serpentcs commented on #200
project_operating_unit #309

[2020-08-17 03:55] nikul-serpentcs commented on #200
fieldservice_operating_unit https://github.com/OCA/operating-unit/pull/310

[2020-08-17 04:13] nikul-serpentcs commented on #200
agreement_operating_unit https://github.com/OCA/operating-unit/pull/311

[2020-08-20 08:28] nikul-serpentcs commented on #256
@AaronHForgeFlow @dkrimmer84 Please close this issue.

[2020-08-20 08:44] #256 closed, assigned to nobody

[2020-08-25 13:28] antherkiv opened #314 "Confusing licesing schema"
Hi there, I spent some time looking at the repo and I got confuse, the odoo app store and the __manifest__ tell the modules are LGPV v3 but License file tell the repo is AGPL. So I don't actually understand what license rules over the modules and what are the actual license for each one.

Best Regards

[2020-08-27 14:03] luc-demeyer commented on #314
I have the same question.
In 2018 the License got changed from AGPL to LGPL, cf. https://github.com/OCA/operating-unit/commit/110d6d729169a5badf7cfd32a53ee3a7650c0837

But no explanation in the commit message why this has been done (it says 'improved license terms' but I am sure if AGPL to LGPL is considered as an improvement by everyone).

[2020-09-17 07:47] BT-rmartin opened #316 "[12.0] Why not having a default operating unit in the existing sales teams?"
Dear community,

When I have installed sale_operating_unit with an own module not depending on operating units at all, but creating a SO in its tests, I'm receiving an error due to this [constraint](https://github.com/OCA/operating-unit/blob/12.0/sale_operating_unit/models/sale_order.py#L45).

This is mainly due to the fact that the sales team has no operating unit, whilst the SO is [given the one

[2020-09-22 11:23] gdgellatly commented on #316
Well to be honest I long since forked this project. I think for demo data we can just update the business data in a demo file. Doesn't matter that it is main data part of Odoo, it will only load for demo purposes then nothing changes for users.

[2020-09-22 11:34] AaronHForgeFlow commented on #316
I am ok with option 2. Nothing changes for users but would ease the test automation.

[2020-10-01 03:45] nikul-serpentcs commented on #94
res_partner_operating_unit #324

[2020-10-01 04:05] nikul-serpentcs commented on #200
hr_contract_operating_unit #325

[2020-10-01 19:00] newtratip commented on #200
Please review/merge this https://github.com/OCA/operating-unit/pull/278

[2020-10-04 10:32] OCA-git-bot opened #326 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [x] account_operating_unit - By @alan196 in #332
- [x] analytic_operating_unit - By @alan196 in #331
- [x] crm_operating_unit - By @alan196 in #330
- [x] hr_expense_operating_unit @kittiu #346
- [ ] mis_builder_budget_operating_unit - By @kittiu - #376
- [x] mrp_operating_unit @rubenseijas https

[2020-10-09 11:51] Vanneri commented on #326
How can i contribute? Help.
Can i directly make pull request or do i need a CLA agreement like odoo?

[2020-10-09 12:15] nikul-serpentcs commented on #326
Please Follow https://odoo-community.org/page/Contribute

[2020-10-10 15:10] alan196 commented on #326
I make the migration for operating_unit in PR https://github.com/OCA/operating-unit/pull/328

[2020-10-10 15:11] alan196 commented on #326
I make the migration for sales_team_operating_unit in PR https://github.com/OCA/operating-unit/pull/329

[2020-10-10 15:20] alan196 commented on #326
I make the migration for crm_operating_unit in PR https://github.com/OCA/operating-unit/pull/330

[2020-10-20 04:48] Dangar-Serpentcs opened #333 "[12.0]product_operating_unit: The Default Operating Unit of the user is not assigned to it."
Impacted versions: 12.0
module: product_operating_unit

Steps to reproduce:

1. Create a new product with a user with a default operating unit

The default operating unit of user assigned not set to product form view.

![ezgif com-crop](https://user-images.githubusercontent.com/38550879/96541410-88501280-12bd-11eb-8d17-7ed2d5d5e652.gif)

[2020-10-20 10:39] Dangar-Serpentcs opened #335 "[12.0] res_partner_operating_unit: Getting trace-back when changing the operating unit from the user form view."
Impacted versions: 12.0
module: res_partner_operating_unit

Steps to reproduce:

1. Go to the `Settings` > `User` form view.
2. Now change `Default Operating Unit`

Boom! Getting trace-back.

![Issue Of User](https://user-images.githubusercontent.com/38550879/96574712-6ec6bf00-12ed-11eb-98a5-32d4ab31adb4.gif)

[2020-10-27 08:04] Dangar-Serpentcs commented on #333
Closed. This is fixed https://github.com/OCA/operating-unit/pull/334.

[2020-10-27 08:04] #333 closed, assigned to nobody

[2020-11-16 08:56] Borruso opened #340 "Change default in purchase_operating_unit/models/purchase_order.py"
I have problem when run 'Procurement: run scheduler'.
I suggest that the operating_unit_id and requesting_operating_unit_id depends on warehouse stock.

Example:
I have several operating units and I create a stock rule with warehouse2 but when I start scheduler it shows me the error 'Configuration error. The Quotation / Purchase Order and the Warehouse of picking type must belong to the same Opera

[2020-12-04 06:41] kittiu commented on #326
purchase_operating_unit https://github.com/OCA/operating-unit/pull/343

[2020-12-04 06:57] kittiu commented on #326
stock_operating_unit https://github.com/OCA/operating-unit/pull/344

[2020-12-17 07:03] #316 closed, assigned to nobody

[2020-12-17 07:21] gdgellatly commented on #314
Hi,

Like nearly every other software repo with multiple licenses, the lowest level license for the file or even section of code you are viewing is generally the one that applies, if the code you are looking it is copyrightable. So a module license supersedes a repo license. Just like vendored source licenses will supersede a module one. e.g. this file in odoo https://github.com/odoo/odoo/blob/11.

[2020-12-17 07:21] #314 closed, assigned to nobody

[2020-12-17 07:26] #289 closed, assigned to nobody

[2020-12-17 07:26] #104 closed, assigned to nobody

[2020-12-17 07:29] gdgellatly commented on #109
Probably not

[2020-12-17 07:29] #109 closed, assigned to nobody

[2020-12-17 07:34] gdgellatly commented on #107
For sale and purchase price yes, I think it already exists. For costs, accounting standards prevent this in external reporting meaning I doubt there would be much uptake. In any case, you give yourself a hige headache considering transfers between units. Not really actionable so closing.

[2020-12-17 07:34] #107 closed, assigned to nobody

[2020-12-17 07:36] gdgellatly commented on #129
Workarounds exist, solved in later versions, lets close this

[2020-12-17 07:36] #129 closed, assigned to nobody

[2020-12-17 07:36] #111 closed, assigned to nobody

[2020-12-17 07:38] #292 closed, assigned to nobody

[2020-12-17 07:39] gdgellatly commented on #131
Has a PR, seems resolved.

[2020-12-17 07:39] #131 closed, assigned to nobody

[2020-12-17 07:44] #291 closed, assigned to nobody

[2021-02-05 16:29] baguenth commented on #200
Migrated sale_stock_operating_unit + stock_account_operating_unit https://github.com/OCA/operating-unit/pull/358

(sale_stock_operating_unit got already migrated in https://github.com/OCA/operating-unit/pull/253, but PR didn't pass tests and seems like theres no progress there?)

[2021-02-12 00:12] niyshah opened #359 "Unable to Install OU Add"
When trying to install operating-unit on Odoo 12 (fairly out of the box install) I receive the following error.

2021-02-12 00:08:14,208 10415 INFO ezeas odoo.modules.loading: loading 147 modules...
2021-02-12 00:08:15,710 10415 INFO ezeas odoo.modules.registry: module operating_unit: creating or updating database tables
2021-02-12 00:08:18,431 10415 INFO ezeas odoo.modules.loading: loading operat

[2021-03-18 15:37] alielgarhi opened #361 "Accounting Dashboard Payments error for V14"
in odoo 14 when i do any payment action from Accounting Dashboard there is error : Record does not exist or has been deleted.

it only appear when i install account_operating_unit

[2021-03-25 17:35] MarcoCalcagni opened #364 "[12.0] odoo bot and operating unit"
I loose 2 day's and debug to find the problem and fixit.

The reordering rule was working fine for one warehouse WH/Stock and not for other warehouse AA/Stock. The reason for this was that the user OdooBot have only one operating unit link to WS/Stock. When the scheduler run OdooBot don't have permission to check the availability of product in AA/Stock  so the Reordering Rules are ignored.

To sol

[2021-04-08 13:21] cramosh commented on #326
I take care of migrating the sale_operating_unit #365

[2021-04-10 09:45] unique4 commented on #285
Any update on this issue guys?

[2021-04-12 06:01] AntoniRomera commented on #285
Sorry, I forgot to close this issue for my part, at the end I don't have time to develop it, if someone wants to continue it go ahead.

[2021-04-12 06:01] #285 closed, assigned to nobody

[2021-04-19 14:32] flotho commented on #185
I confirm the bug

[2021-04-19 14:38] flotho commented on #185
Duplicate of https://github.com/OCA/operating-unit/issues/270

[2021-05-07 08:22] kittiu opened #369 "Financial Report `account_financial_report by` Operating Unit"
Hi,

Is it possible to run financial reports `account_financial_report` by OU?

Note: Like, i.e., mis_builder_operating_unit

Thanks!

[2021-05-07 09:59] kittiu commented on #369
@AaronHForgeFlow, do you know?

[2021-05-10 04:47] kittiu commented on #369
Hi @AaronHForgeFlow I found your work back in v12, https://github.com/ForgeFlow/account-financial-reporting/tree/12.0-analytic-ou-afr/account_financial_report_operating_unit, not sure what its status.

Is it ok, if I do it again in v14? Do you want to add anything?
Thanks!

[2021-05-10 07:28] AaronHForgeFlow commented on #369
Hi @kittiu, I'd be awesome if you migrate that to v14. If I remember correctly, it was working well in v12. I will recheck.

[2021-05-10 07:40] AaronHForgeFlow commented on #369
BTW I think it is better to move the module to the operating-unit repo.

[2021-05-10 07:44] AaronHForgeFlow commented on #369
Hi again, and sorry for so many messages, That branch  https://github.com/ForgeFlow/account-financial-reporting/tree/12.0-analytic-ou-afr/account_financial_report_operating_unit contains changes in the AFR to filter aged receivables and aged payables by analytic account. The problem is, that is not possible without "hacking" some Odoo core methods. I will remove that part and create a pull request

[2021-05-21 12:39] gdgellatly commented on #359
Given the file in question hasn't changed in 3 years and is widely used, it is a deployment issue. Probably deleted admin user or at least the model_data records. Closing as not an issue with module.

[2021-05-21 12:39] #359 closed, assigned to nobody

[2021-05-25 03:33] gdgellatly opened #381 "14.0 stock_account_operating_unit and stock valuation layers"
So we did a rough migration of stock_account_operating_unit but in testing I noticed that we might have to consider svl's in largely the same way we consider stock move lines.

Am I right? Thoughts?

\cc @JordiBForgeFlow @RujiaL

[2021-05-30 15:44] #369 closed, assigned to nobody

[2021-06-14 10:41] Borruso opened #388 "[12.0] Error when search operating units in analytic account"
When I search by operating units from the custom filters, search fails. The problem would appear to be the domain which is written between quotes (").
For example the tax_id field in sale.order.line is a many2many with domain without quotes so the search is successful.

In this point domain is string `"[('user_ids', '=', uid)]"` but odoo expects a list `[('user_ids', '=', uid)]`
[ids2 = [x[0] for

[2021-06-18 05:40] AaronHForgeFlow commented on #361
Can you reproduce this error on runbot?

[2021-06-18 05:51] AaronHForgeFlow commented on #381
Good point. I think it could be computed based on the related stock move. If it is an incoming move then take the operating unit of the destination location. Then if it is an outgoing move we could take the source location operating unit. For transfers between operating units we may need then a external location that helps to create an outgoing layer and then an incoming.

[2021-08-05 13:29] Mat-moran opened #408 "[Question] res.partner in operating unit?"
Hi,

I am thinking about the necessity of the `res.partner` selection in the definition of the operating unit.
Can somebody explain the sense of that?

Thanks in advance. Regards!

[2021-08-05 13:36] AaronHForgeFlow commented on #408
It is the same concept as the partner in the company. For example, when you create a customer invoice, it is issued by the operating unit partner, and the customer with see the contact details of the operating unit.

[2021-09-08 06:03] gdgellatly opened #414 "[RFC] Purchase Operating Unit depends on Stock Module but Purchase does not"
I have a client who doesn't want/need stock module but wants operating units on invoices/purchase.

Looking at purchase_operating_unit, do we need to split or rename this module as it depends on purchase_stock, which itself depends on stock?

[2021-09-08 06:05] JordiBForgeFlow commented on #414
@gdgellatly Works for me.

[2021-09-08 06:10] gdgellatly opened #415 "[RFC] Contract Operating Unit"
I have a client who wishes to use this in v13 for contracts.

A straight backport of v14 works and no doubt a PR will be forthcoming. However they need to add a feature and asked me whether this is a separate module or not. My thinking is it isn't but rather just a technical group that hides the column.

Basically some contract invoices require different operating units on different lines, so my a

[2021-10-17 10:19] OCA-git-bot opened #416 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] account_asset_operating_unit - By @Saran440 - #555
- [ ] account_financial_report_operating_unit - By @ps-tubtim - #531
- [ ] account_operating_unit - By @alan196 - #420
- [x] account_operating_unit_access_all - By @ps-tubtim - #529
- [ ] agreement_operating_unit
- [ ] analytic_operating_uni

[2021-10-23 13:58] alan196 commented on #416
Migration of operating_unit in https://github.com/OCA/operating-unit/pull/418

[2021-10-23 13:58] alan196 commented on #416
Migration of analytic_operating_unit in https://github.com/OCA/operating-unit/pull/419

[2021-11-02 10:39] Saran440 opened #424 "[14.0] account_operating_unit : error with cash basis"
Can not register payment when you config `Operating Units are self-balanced on Company` and cash basis
![Selection_004](https://user-images.githubusercontent.com/20896369/139830123-aaff87f9-34cb-465b-8ed1-a4d1e8e96dc5.png)

**Step to error**
1. Configuration
    - Go to menu Settings > Users & Companies > Companies > select `Operating Units are self-balanced` and `Inter-operating unit clearing acc

[2021-11-19 15:39] Mat-moran opened #425 "[14.0] Procurement rules does not working for non-default locations"
## Module
`stock_operating_unit`

## Describe the bug
When you try to add a procurement rule for a location that has another operating unit it gives the next error.
`Configuration Error. The Operating Unit of the Warehouse and the Location must be the same. `

![image](https://user-images.githubusercontent.com/4810013/142648954-2b9c4ab0-ca01-4f10-aaf7-62f4b8628665.png)

## To Reproduce
1. Create 2

[2021-11-19 15:42] Mat-moran commented on #425
I have one thing misconfigured.

It is neccesary to assign operating unit to the locations, this is mandatory to get it working.

[2021-11-19 15:42] #425 closed, assigned to nobody

[2021-11-27 11:36] dreispt opened #427 "[14.0] contract_operating_unit: The license LGPL-3 conflicts with one of its dependencies."
Module can't be registerd on the App Store:

[2021-11-28 12:21] #16 closed, assigned to nobody

[2021-11-28 12:21] #17 closed, assigned to nobody

[2021-11-28 12:21] #36 closed, assigned to nobody

[2021-12-02 14:09] hitrosol commented on #424
hi @Saran440, I found other case maybe related to this as well. Since V14, every time we post the bank statement, it will create the journal entry as well. Unfortunately no setting of the OU at the moment, where it's  really need whenever we want to produce the Balance Sheet Report filtered by the OU.
Maybe by putting the field in the bank statement will help to solve this case.

[2021-12-05 12:22] #74 closed, assigned to nobody

[2021-12-05 12:22] #93 closed, assigned to nobody

[2021-12-05 12:22] #94 closed, assigned to nobody

[2021-12-11 08:47] labib66 opened #433 "Operating unit for Point Of Sale"
**Is your feature request related to a problem?**
i can't make operating units as self balanced

**Describe the solution you'd like**
develop operating unit for pos

[2021-12-19 12:23] #106 closed, assigned to nobody

[2021-12-20 07:41] AaronHForgeFlow commented on #433
You can begin by reviewing this PR https://github.com/OCA/operating-unit/pull/286

There is an issue already for this: https://github.com/OCA/operating-unit/issues/155 so better to follow up there if needed

[2021-12-24 23:11] alielnagar opened #435 "how i can transfer products between different OU 2 location or warehouse"
stock_operating_unit 14
odoo 14

i can't make stand alone location without OU to make a internal transfer direct or make internal transfer by routes and rules
please tell me
how to make transfer between two operating unit    without admin doing this
thank you

[2021-12-27 06:48] AaronHForgeFlow commented on #435
Why you can't? An inventory user should be able to to those transfers. And the manager should be able to create the location without operating units, and the routes.

[2021-12-27 07:10] alielnagar commented on #435
I am administrator and have acess to all ou by security and manager in ou
But i cant create stand alone location witout ou
I make work around by import location without ou
Please fix it
I working on odoo 14
I install
account_financial_report_operating_unit

account_operating_unit

analytic_operating_unit
analytic_operating_unit_access_all

operating_unit

operating_unit_access_all

product_operati

[2022-01-10 08:58] gdgellatly commented on #435
I have v14, this just works. No need for admin, don't even really need special routes, just need access to both OU's. They just create an internal transfer. But I imagine for more process oriented environments the routes would be simple enough via a Transit location.

[2022-01-12 11:03] Rajan-SCS commented on #416
sales_team_operating_unit -> #441

[2022-01-16 12:23] #134 closed, assigned to nobody

[2022-01-16 12:23] #139 closed, assigned to nobody

[2022-01-23 12:21] #143 closed, assigned to nobody

[2022-01-23 12:21] #155 closed, assigned to nobody

[2022-01-23 12:21] #159 closed, assigned to nobody

[2022-01-30 12:20] #181 closed, assigned to nobody

[2022-02-06 12:20] #185 closed, assigned to nobody

[2022-02-10 15:05] alielnagar commented on #435
the problem in case with the tow users have access to only his ou .

[2022-02-10 15:32] AaronHForgeFlow commented on #435
You are transferring from a location with Operating unit 1 (OU1) to a transit location and then another tranfer from this transit location to another location with operating unit 2(OU2), right? Can you reproduce the error in runbot?

[2022-02-14 06:01] dominiquekonsuntack opened #458 "Inventory adjustment and operating unit / Analytic account"
Is there a module so that inventory adjustment will have operating unit ? - that will in turn pass in the journal entry ?
I haven't found any module with this functionality.

[2022-02-14 07:12] AaronHForgeFlow commented on #458
The operating unit is the location using the module stock_operating_unit. The module stock_account operating unit should add the operating unit the operating unit on the stock valuation journal entries.

[2022-02-22 22:04] gdgellatly opened #459 "Operating Unit overwrite incorrect in purchase operating unit - uses previous operating unit"
https://github.com/OCA/operating-unit/blob/068418afedb673b2e499122c193106fb19cf31ad/account_operating_unit/models/account_move.py#L16-L23

https://github.com/OCA/operating-unit/blob/068418afedb673b2e499122c193106fb19cf31ad/purchase_operating_unit/models/account_invoice.py#L41-L52

If you are also writing the move and changing the operating unit this code uses the prior operating unit because it br

[2022-02-23 07:46] AaronHForgeFlow commented on #459
I see. Do you have a solution for that? Perhaps override the purchase autocomplete feature so it selects the correct operating unit will work.

[2022-02-24 08:58] gdgellatly commented on #459
@AaronHForgeFlow The problem isn't the autocomplete, actually that works perfectly. The problem is if the invoice exists with a different operating unit BEFORE autocomplete (incoming email, default ou is different to purchase ou for example), when the write is called, it will try and create the move lines before writing the change. The only solution I have had to date is a stupid workaround.

[cod

[2022-02-24 09:43] AaronHForgeFlow commented on #459
Will removing the default operating unit in the invoice work?

[2022-02-24 14:08] alielnagar opened #460 "journal Sequences error in vendor payment (account_operating_unit)"
## Module
account_operating_unit

## Describe the bug
i test the scenario on clean database when i found it in the production database)
i have a big problem
i have two journal
cash with sequence 1cah
bank with sequence bnk

after install  account_operating_unit in (clean database)
when i made first vendor payment and select the cash journal the document seq is CSH1/2022/02/0001
when i made second

[2022-02-24 21:14] gdgellatly commented on #459
Hi,

I don't think so. It is just another workaround. But setting a default is kind of a 2 edged sword anyway and we should probably remove it, or remove constraints, security associated with it. Because move lines should be able to be applied to different operating units in the same move. (e.g. I got an invoice for 2 PO's for 2 different operating units). I almost feel like the move OU should be

[2022-02-27 12:22] #192 closed, assigned to nobody

[2022-02-28 21:40] alielnagar commented on #460
after update odoo on clean data base the problem gone
please check it to devoid it
thank you

[2022-03-01 12:15] AaronHForgeFlow commented on #460
All right. Thanks.

[2022-03-01 12:15] #460 closed, assigned to nobody

[2022-03-06 12:23] #196 closed, assigned to nobody

[2022-03-09 15:58] kh-badep opened #462 "[14.0] account_operating_unit compatibility with sale_advance_payment"
In this part of code it is assumed that active_model is 'account.move' (payment done from an invoice) or none.  Which is not the case. Using sale_advance_payment where activel_model is 'sale.order' is one example of it.

https://github.com/OCA/operating-unit/blob/068418afedb673b2e499122c193106fb19cf31ad/account_operating_unit/models/account_payment.py#L28

There should be a test if active_model is

[2022-03-09 16:01] AaronHForgeFlow commented on #462
Thanks for reporting. Will you create a PR with the fix?

[2022-03-09 16:12] kh-badep commented on #462
Yes. I'll be going with the second approach so that we can propagate 'operating_unit_id' from whatever document is creating the payment.

[2022-03-09 16:53] kh-badep commented on #462
I just checked and there is already a PR with the first approach suggested here: https://github.com/OCA/operating-unit/pull/456.

I'm making a PR with the second approach here: https://github.com/OCA/operating-unit/pull/463, but to be honest I don't know if it's really needed.

[2022-03-11 14:59] olveracuenca commented on #326
sale_operating_unit using oca standard https://github.com/OCA/operating-unit/pull/464

[2022-03-13 12:23] #197 closed, assigned to nobody

[2022-03-20 12:23] #212 closed, assigned to nobody

[2022-03-20 12:23] #216 closed, assigned to max3903

[2022-03-29 14:08] alan196 commented on #416
stock_operating_unit in https://github.com/OCA/operating-unit/pull/464

[2022-04-10 12:24] #237 closed, assigned to nobody

[2022-04-17 12:25] #248 closed, assigned to nobody

[2022-04-24 12:25] #258 closed, assigned to max3903

[2022-04-24 12:25] #270 closed, assigned to max3903

[2022-06-17 11:28] BT-apadron commented on #416
Please can you add to the list the module **stock_account_operating_unit**.
I have already created the Pull Request https://github.com/OCA/operating-unit/pull/478

[2022-06-20 07:17] BT-apadron commented on #416
Also, can you add to the list the module **sale_operating_unit.**
I have already created the Pull Request https://github.com/OCA/operating-unit/pull/479

[2022-06-20 08:29] BT-apadron commented on #416
As well, can you add to the list the module **sale_stock_operating_unit**.
I have already created the Pull Request https://github.com/OCA/operating-unit/pull/480

[2022-06-21 00:21] JuanyDForgeflow commented on #416
hr_contract_operating_unit https://github.com/OCA/operating-unit/pull/481

[2022-06-29 15:13] francesco-ooops opened #488 "[14.0] operating_unit - Default operating unit for new public user template ignored"
## Describe the bug
Operating units are assigned to new users regardless of settings in user "default"

## To Reproduce
**Affected versions**: supposedly all versions

Steps to reproduce the behavior:
1. activate "Default access rights" in General settings
2. set any (or no) operating unit as "default operating unit" and/or "operating unit" in user "default"
3. create new user

**Current behavior*

[2022-07-17 12:28] #335 closed, assigned to nobody

[2022-07-18 07:19] #364 closed, assigned to nobody

[2022-07-24 12:29] #340 closed, assigned to nobody

[2022-07-29 13:20] AshishHirapara commented on #488
Fix: https://github.com/OCA/operating-unit/pull/491

[2022-08-01 13:38] BT-pcavero commented on #416
product_operating_unit #492

[2022-08-02 09:21] BT-pcavero commented on #416
purchase_request_operating_unit #493

[2022-08-02 12:06] BT-pcavero commented on #416
operating_unit_access_all #494

[2022-08-07 12:27] #200 closed, assigned to nobody

[2022-08-09 06:07] isszero06 opened #498 "stock_account_operating_unit -Account entry lines bug"
when transfer more than one product the journal entry created for the first product only by unit price not total price

[2022-08-14 12:28] #361 closed, assigned to nobody

[2022-08-20 18:33] AaronHForgeFlow commented on #498
Can you explain it more? which version do you get the error? Clear steps to reproduce and expected results.

[2022-08-20 18:54] isszero06 commented on #498
١٣

في السبت، ٢٠ أغسطس ٢٠٢٢ ٨:٣٣ م Aaron ForgeFlow ***@***.***>
كتب:

[2022-08-20 18:58] isszero06 commented on #498
version 13

1- create internal transfer with the following lines

item    unit cost is       qty

product(1)   10             4
product(2)   12              3

when post transfer the system create only journal item for the first line
(product"1") by total amount 10 only ie unit value not total value when
generate journal item

also no jurnal item for product(2) only for the first line

On Sat, Aug

[2022-08-20 19:27] AaronHForgeFlow commented on #498
The internal transfer is between two different operating units, right?

[2022-08-20 19:29] isszero06 commented on #498
Yes, it is.

في السبت، ٢٠ أغسطس ٢٠٢٢ ٩:٢٨ م Aaron ForgeFlow ***@***.***>
كتب:

[2022-09-01 09:00] francesco-ooops commented on #326
@OCA/accounting-maintainers could this issue be updated? several PRs have been superseded. thanks!

[2022-09-04 12:32] #381 closed, assigned to nobody

[2022-09-04 12:32] #388 closed, assigned to nobody

[2022-09-07 15:41] ilyasProgrammer opened #503 "[14.0] operating_unit - access restrictions is not applied"
## Module
operating_unit

## Describe the bug
When you remove operating unit assigned to a product or another model from a user he still can see this record.

## To Reproduce
 - Set all operating units to a user.
 - Set 1 operating unit to a product.
 - Remove this operation unit from user.
 - Refresh page - user can see record.

https://recordit.co/hdnuNhKeMN

**Expected behavior**
User should no

[2022-09-08 14:06] francesco-ooops opened #505 "repo readme.md"
Hi, would it be possible to fix the readme.md for this repo to align it to the other repos? this is how 14 appears:

![image](https://user-images.githubusercontent.com/55489873/189143122-f3d45eb3-f226-4493-a483-df926aad3eb8.png)

I also see in v12 and 13 there are still links to transifex

[2022-09-18 12:32] #408 closed, assigned to nobody

[2022-09-28 17:17] enricostano opened #508 "[12.0] Compatibility with account_payment_order"
**Is your feature request related to a problem?**
From what I understand, right now if you use OUs and `account_payment_order` you get a validation error while setting the Payment Order to "File uploaded" since the [move created](https://github.com/OCA/bank-payment/blob/12.0/account_payment_order/models/account_payment_order.py#L508) doesn't set the OU at account move line level.

The validation e

[2022-09-29 10:07] francesco-ooops commented on #505
@AaronHForgeFlow could you take a look? thanks!

[2022-10-02 12:34] #414 closed, assigned to nobody

[2022-10-03 16:26] sbidoul opened #509 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [x] account_operating_unit - By @hbrunn - #656
- [x] analytic_operating_unit - By @BT-aleonard - #586
- [ ] hr_expense_operating_unit - By @hbrunn - #701
- [x] operating_unit - By @huguesdk - #576
- [x] product_operating_unit - By @GiuTav - #591
- [ ] purchase_operating_unit - By @BT-aleonard -

[2022-10-09 12:34] #415 closed, assigned to nobody

[2022-10-20 09:28] francesco-ooops commented on #488
fixed for 14 and 15

[2022-10-20 09:28] #488 closed, assigned to nobody

[2022-10-20 09:29] francesco-ooops commented on #505
@AaronHForgeFlow @OCA/accounting-maintainers gentle reminder

[2022-10-23 12:36] #424 closed, assigned to nobody

[2022-10-25 10:41] #503 closed, assigned to nobody

[2022-10-27 01:46] Ppamungkas opened #515 "Configure Document Layout in Settings Error"
https://github.com/OCA/operating-unit/blob/f7ab0fdecb1d0445190aa3a7cd6617aa7d593cf3/report_qweb_operating_unit/views/report_qweb_operating_unit.xml#L11

Please fix it with the following:
`<t t-if="o and 'operating_unit_id' in o.fields_get()">`

[2022-11-06 12:30] #433 closed, assigned to nobody

[2022-11-06 12:30] #435 closed, assigned to nobody